:root {
  /* Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --color-content: hsl(0, 0%, 95%);

  /* Fonts */
  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders-display: "Big Shoulders Display", cursive;
}

*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container{
  width: 300px;
  border: 2px solid limegreen;
  max-width: 500px;
}

.sedan{
  background-color: var(--bright-orange);
}

