:root {
  /* Primary */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --color-content: hsl(0, 0%, 95%);

  /* Fonts */
  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders-display: "Big Shoulders Display", cursive;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--lexend-deca);
  background-color: #f2f2f2;
}

.container {
  margin: 100px 0;
  border-radius: 10px;
  overflow: hidden;
}

.card__image{
  max-width: 100%;
  height: auto;
}

.card {
  width: 18rem;
  padding: 28px 28px 50px 28px;
}

.card__title {
  font-family: var(--big-shoulders-display);
  font-weight: 900;
  color: var(--color-content);
  padding: 15px 0;
  text-transform: uppercase;
}

.card__body {
  padding-bottom: 40px;
  font-size: 15px;
  color: var(--paragraph);
  line-height: 1.5;
}

.card__link {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 15px;
  background-color: var(--color-content);
  border-radius: 20px;
}


.card--orange {
  background-color: var(--bright-orange);
}

.card--orange .card__link {
  color: var(--bright-orange);
}

.card--dark--cyan {
  background-color: var(--dark-cyan);
}

.card--dark--cyan .card__link{
  color: var(--dark-cyan);
}

.card--darker--cyan {
  background-color: var(--darker-cyan);
}

.card--darker--cyan .card__link{
  color: var(--darker-cyan);
}

.card__link:hover{
  color: var(--color-content);
  border: 2px solid var(--color-content);
  background-color: transparent;
}


@media (min-width: 865px) {
  body {
    height: 100vh;
  }
  
  .container {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .card{
    padding: 28px 38px 50px;
  }

  .card__title{
    padding: 30px 0;
  }

  .card__body{
    padding-bottom: 100px;
  }

}
